h1 {
  margin: 5px 0;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px
}

.maj {
  font-size: 30px;
}


body {
  background-color: black;
}


img {
  z-index: -1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

